@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700"); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif; 
	font-size: 14px; 
}

:root{
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}



::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}

.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}
body.dark .home .text{
    color: var(--text-color);
}

/* carousel */
    .title-text, .sentence{
        color: #695CFE;
    }
    .carousel-font{
        color:#707070;
    }
    .recommendation{
        margin-left: 35px;
        margin-bottom: -80px;
        color: #707070;
    }
    p, h1{
      color: black;
    }
  
    .carousel {
      margin-bottom: 4rem;
    }
    .carousel-inner {
        max-height: 500px;
    }
    .carousel-caption {
      height: 18rem;
      z-index: 10;
    }
    .carousel-item {
      height: 40rem;
    }
    .carousel-item > img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 40rem;
    }
    .carousel-item img {
        filter: brightness(50%);
    }
    .carousel-caption h1, .carousel-caption p {
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
    .carousel-caption {
        padding: 20px;
        border-radius: 10px;
    }
    
    @media (min-width: 40em) {
      .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
      }
    
      .featurette-heading {
        font-size: 50px;
      }
    }
    
    @media (min-width: 62em) {
      .featurette-heading {
        margin-top: 7rem;
      }
    }
  
    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
  }
  
  .logo{
    width: 50px;
    height: 50px;
  }
  
  .group-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .horizontal {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .horizontal p {
    margin: 0;
  }
  
  .carousel-item img {
    opacity: 0.8;
  }
 
  /*album*/
  i { 
	color: rgb(99, 95, 94); 
	font-size: 18px; 
} 

.side-bar-heading { 
	color: rgb(99, 95, 94); 
	font-weight: bold; 
	padding-left: 20px; 
	margin-bottom: 20px; 
} 

.channel-dp-container-1 { 
	height: 25px; 
	width: 25px; 
	border-radius: 50%; 
	display: inline-block; 
	justify-self: flex-start; 
} 

.channel-dp-1 { 
	height: 100%; 
	width: 100%; 
	border-radius: 50%; 
	object-fit: cover; 
	position: relative; 
} 

#video-section { 
	margin: 20px 10px 5px; 
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	justify-content: space-around; 
	margin-left: 20px; 
	margin-top: 60px; 
	padding-top: 20px; 
} 

.video-container { 
	margin-top: 20px; 
	margin-bottom: 40px; 
} 
a :hover{
    background-color: rgba(105, 92, 254, 0.2);
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 4px 15px rgba(105, 92, 254, 0.75);
}

.images { 
	width: 295px; 
	height: 175px; 
	margin-bottom: 5px; 
} 

.video-description { 
	display: flex; 
	flex-direction: row; 
} 

.channel-dp-container-2 { 
	height: 35px; 
	width: 35px; 
	border-radius: 50%; 
	display: inline-block; 
	justify-self: flex-start; 
} 

.channel-dp-2 { 
	height: 100%; 
	width: 100%; 
	border-radius: 50%; 
	object-fit: cover; 
} 

.video-details { 
	width: 200px; 
	margin-top: 3px; 
	margin-left: 10px; 
	justify-self: flex-end; 
} 

.video-title { 
	font-weight: bold; 
	text-decoration: none; 
	color: #707070; 
	margin-bottom: 5px; 
} 



.views { 
	color: rgb(99, 95, 94); 
	text-decoration: none; 
} 

.fa-circle { 
	color: rgb(99, 95, 94); 
	font-size: 2px; 
	transform: translateY(-3px); 
} 

.time {
	text-decoration: none; 
	color: rgb(99, 95, 94); 
} 
.game{
    margin-left: 100px;
    margin-bottom: -80px;
    margin-top: -32px;
    color: #707070;
}
.back{
    margin-top: 25px;
    margin-left: 50px;
    border-radius: 50%;
    background-color: #695CFE;
    border: none;
}
/*button*/
.upload{
    margin-left: 35px;
    margin-bottom: -80px;
    color: #707070;
    display: inline-block;
    margin-top: -100px;
}
.upload-button {
    margin-bottom: 32px;
    margin-left: 200px;
    padding: 8px 16px;
    background-color: #695CFE;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.upload-button:hover {
    background-color: #0056b3;
}